div(class="wrapper")
div(class="topbar")
	div(class="wrapper")
		div(class="topnav", id="topnav")
			ul
				li(id='li-groupe-all')
					a(id='link-groupe-all', ng-href='/groupe-all') Accueil
				li(id='li-groupe-details')
					a(id='link-groupe-details', ng-href='/groupe-details', ng-hide='groupe==null') Info Personnelles
block body